#wrap {
  display: flex;
  padding: var(--contentSpacing);
  flex-direction: column;
  gap: var(--contentSpacing);
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 24px;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
