#wrap {
  display: flex;
  padding: var(--contentSpacing);
  flex-direction: column;
  gap: var(--contentSpacing);
  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 24px;
}

@media only screen and (min-width: 600px) {
  #wrap {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
  }

  u-app-method {
    min-width: 300px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
